<! DOCTYPE HTML>
<head>
  <meta charset="utf-8" />
  <title>Welcome to Quadratic Equation Solver</title>
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css')}}" type="text/css" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"> </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <h1>
    Welcome to Quadratic Equation Solver
  </h1>

  <div class="math">
    \[ ax^2 + bx + c = 0 \]
  </div>
  <div id="x2">
  <form method="post">
    <input type="text" name="a" />

  <div class="math">
    \[ x^2 \]
  </div>   

  </div>

  <div class="math">
    \[ + \]
  </div>  
  
  <div>

    <input type="text" name="b" />

  <div class="math">
    \[ x \]
  </div>   

  </div>

  <div class="math">
    \[ + \]
  </div>  
  
  <div>

    <input type="text" name="c" />  

  </div>

  <div class="math">
    \[ = 0 \]
  </div>


    <input type="submit" value="Solve!" />
  </form>

  <script>
  MathJax.typesetPromise()
    .then(() => {
      console.log('MathJax is loaded and typeset');
    })
    .catch((err) => {
      console.log('There was an error typesetting MathJax:', err);
    });
  </script>

  {% if data %}
  {{ data }}
  {% endif %}

</body>